<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>name</key>
	<string>SireumAntlr3</string>
	<key>uuid</key>
	<string>a3f1e7b2-6c4d-4a8e-9f0b-1d2e3c4a5b6c</string>
</dict>
</plist>
